
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 30px;
  padding-left: 40px;
}

/* LOGO */
.logo h2 {
  color: black;
  font-size: 28px;
}
.logo i {
  color: #3f37c9;
  margin-right: 8px;
  
}

/* NAV LINKS */
nav ul {
  list-style: none;
  display: flex;
  gap: 22px;
  align-items: center;
}

/* LINKS STYLE */
#a2 {
  text-decoration: none;
  color: #3f37c9;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.3s;
}

#a2:hover {
  background-color: #3f37c9;
  color: white;
}

/* BUTTON */
#btn {
  background-color: #3f37c9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

#btn a {
  color: white;
  text-decoration: none;
}

/* MENU ICON */
.menu-toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: #2c2a99;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  nav {
    padding: 12px 18px;
  }

  .logo h2 {
    font-size: 22px;
  }

  .menu-toggle {
    display: block;
  }

  /* HIDDEN MENU */
  #nav-links {
    position: absolute;
    top: 60px;
    right: 15px;
    width: 220px;
    background: white;

    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 15px;

    display: none;

    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  }

  /* ACTIVE MENU */
  #nav-links.active {
    display: flex;
  }
}

/* EXTRA SMALL SCREENS */
@media (max-width: 480px) {
  nav {
    padding: 10px 15px;
  }

  .logo h2 {
    font-size: 20px;
  }

  #nav-links {
    width: 200px;
    top: 50px;
    right: 10px;
    padding: 12px;
  }
}